* {
    padding: 0;
    margin: 0;
}

.bots {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #FFFFFFBB;
    border: 3px solid lightgrey;
    border-radius: 10px;
    width: 25%;
}

.bigpfp {
    height: 300px;
    width: 200px;
    display: block;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCCAA99;
    width: 100%;
}

@font-face {
    font-family: "MyFont";
    src: url("/static/OpenDyslexic-Regular.otf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "MyFont", sans-serif;
    /*background-color: blanchedalmond;*/
    background-image: url("/static/img/bg.jpg");
}

.chat {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.messages {
    flex: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.smallpfp {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    padding: 10px;
    background-color: #FFFFFFBB;
    border: 3px solid lightgrey;
    border-radius: 10px;
}

.chats {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    max-width: 400px;
    gap: 3px;
}

.chat_item {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 10px;
    background-color: #FFFFFFBB;
    border: 3px solid lightgrey;
    border-radius: 10px;
}

.bell {
    width: 20px;
    height: 20px;
}

#notifs {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.notif {
    border: grey 2px solid;
    border-radius: 10px;
    background-color: #88FF88CC;
    padding: 5px;
    min-width: 200px;
    max-width: 300px;
}