<!DOCTYPE html>
<html>

<head>
    <title>NeuroTinder</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="chat">
        <div class="header">
            <img class="smallpfp" src="/static/img/pfp/{{bot.pfp}}">
            <h1 style="flex:1">{{bot.name}}</h1>
        </div>

        <div id="messages" class="messages">
            {% for m in messages %}
            <p>
                {% if m.user1.id==bot.id %}
                <b style="color:crimson">{{bot.name}}:</b>
                {% else %}
                <b style="color:darkmagenta">вы:</b>
                {% endif %}
                {{m.contents}}
            </p>
            {% endfor %}
        </div>

        <form id="msgform">
            <input id="msginput">
            <input type="submit" value="Отправить">
        </form>
    </div>

    <script src="/static/js/tools.js"></script>
    <script>
        botname = "{{bot.name}}"

        function connect() {
            ws = new WebSocket("/chatws");
            ws.onopen = () => {
                ws.send(botname);
            };

            ws.onclose = () => {
                setTimeout(() => {
                    console.log("Попытка восстановить соединение...")
                    connect()
                }, 2000)
            }

            ws.onerror = (err) => {
                ws.close();
            };
        }
        connect()

        function message(contents, isuser) {
            return `<p>${isuser ? "<b style=\"color:darkmagenta\">вы</b>" : `<b style="color:crimson">${botname}</b>`
                }: ${contents}</p >`
        }

        messages = $('messages')
        ws.onmessage = (event) => {
            j = JSON.parse(event.data)
            messages.innerHTML += message(j.contents, false)
            messages.scrollTop = messages.scrollHeight;
        };

        $('msgform').addEventListener('submit', function (e) {
            e.preventDefault();
            ws.send(JSON.stringify({
                "contents": msginput.value
            }))
            messages.innerHTML += message(msginput.value, true)
            msginput.value = ''
            messages.scrollTop = messages.scrollHeight;
        });
    </script>

</body>

</html>