<!DOCTYPE html>
<html>

<head>
    <title>NeuroTinder</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div style="flex-direction: column;" class="header">
        <h1>Ваши чаты</h1>
        <a href="/home">Главная</a>
    </div>

    <div class="chats">
        {% for chat in chats %}
        <a href="/chat/{{chat.name}}">
            <div class="chat_item">
                <img class="smallpfp" src="/static/img/pfp/{{chat.pfp}}">

                <div>
                    <p><b>
                            {% if not chat.isread %}<img class="bell" src='/static/img/bell.png'>{%endif%}
                            {{chat.name}}</b></p>
                    <p class="line-clamp">{{chat.contents}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
        <div class="chat_item" style="justify-content: space-around;">
            {% if page>1 %}
            <a href="/chats?page={{page-1}}">Назад</a>
            {% endif %}
            {% if has_more %}
            <a href="/chats?page={{page+1}}">Дальше</a>
            {% endif %}
        </div>
    </div>

    <script src="/static/js/tools.js"></script>
    <script>
        wsconnect(null)
    </script>
</body>

</html>