<!DOCTYPE html>
<html>

<head>
    <title>NeuroTinder</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="chat">
        <div class="header">
            <img class="smallpfp" src="/static/img/pfp/{{bot.pfp}}">
            <div style="flex:1">
                <h1>{{bot.name}}</h1>
                <a href="/chats">все чаты</a>
            </div>
        </div>

        <div id="messages" class="messages">
            {% for m in messages %}
            <p>
                {% if m.user1.id==bot.id %}
                <b style="color:crimson">{{bot.name}}:</b>
                {% else %}
                <b style="color:darkmagenta">вы:</b>
                {% endif %}

                {{m.contents}}
                {% if m.audio %}
                <audio controls>
                    <source src="/static/audio/{{m.audio}}" type="audio/wav">
                </audio>
                {% endif %}
            </p>
            {% endfor %}
        </div>

        <form id="msgform">
            <input id="msginput">
            <input type="submit" value="Отправить">
        </form>
    </div>

    <script src="/static/js/tools.js"></script>
    <script>
        botname = "{{bot.name}}"

        function message(m, isuser) {
            audio = ""
            if (m.audio) {
                audio = `<audio controls>
                    <source src="/static/audio/${m.audio}" type="audio/wav">
                </audio>`
            }
            return `<p>${isuser ? "<b style=\"color:darkmagenta\">вы</b>" : `<b style="color:crimson">${botname}</b>`
                }: ${m.contents}${audio}</p >`
        }

        wsconnect((j) => {
            if (j.from == botname) {
                messages.innerHTML += message(j, false)
                messages.scrollTop = messages.scrollHeight;
            } else {
                msgnotify(j)
            }
        })

        messages = $('messages')
        $('msgform').addEventListener('submit', function (e) {
            e.preventDefault();
            ws.send(JSON.stringify({
                "contents": msginput.value,
                "bot": botname
            }))
            messages.innerHTML += message({ "contents": msginput.value }, true)
            msginput.value = ''
            messages.scrollTop = messages.scrollHeight;
        });
        messages.scrollTop = messages.scrollHeight;
    </script>

</body>

</html>