<!DOCTYPE html>
<html>

<head>
    <title>NeuroTinder</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="header">
        <h1 style="flex:1">NeuroTinder</h1>
        <img class="smallpfp" style="height:50px;" src="/static/img/pfp/{{pfp}}">
        <div style="text-align: center; margin-right: 5px;">
            <p id="welcome">Привет, {{username}}</p>
            <a href="/chats">Чаты</a>
            <button onclick="logout()">Выход</button>
        </div>
    </div>

    <div class="bots">
        {% for bot in bots %}
        <div class="bot">
            <h2>{{bot.name}}</h2>
            <img class="bigpfp" src="/static/img/pfp/{{bot.pfp}}">
            <p>Возраст: {{bot.age}}</p>
            <p class="line-clamp" title="{{bot.bio}}"><i>{{bot.bio}}</i></p>
            <a href="/chat/{{bot.name}}">Написать</a>
        </div>
        {% endfor %}

        <div class="bot" style="height:100px;width:100px;">
            {% if has_more %}
            <a href="/home?page={{page+1}}">Дальше</a>
            {%else%}
            <a href="/home?page=1">Дальше</a>
            {% endif %}
        </div>
    </div>

    <div id="notifs">
    </div>

    <script src="/static/js/tools.js"></script>
    <script>
        function logout() {
            del_cookie("username")
            del_cookie("session")
            window.location.href = "/";
        }
        wsconnect((j) => {
            console.log(j)
            notify(`Сообщение от ${j.from}`, j.contents.length > 50 ? j.contents.slice(0, 50) + "..." : j.contents)
        })
    </script>
</body>

</html>